---
layout: default
---

<div class="hero">
    <p class="subtitle">Discovering elegance through problems.</p>
</div>

<div class="posts-list">
    {% assign has_post = false %}
    {% for post in site.posts %}
        {% if post.private == true %}
            {% continue %}
        {% endif %}
        <div class="post-item">
            <div class="post-content">
                <a class="post-title" href="{{site.baseurl}}{{ post.url }}">
                    {{ post.title }}
                </a>
                <div class="post-subtitle">
                    {{ post.subtitle }}
                </div>
            </div>
            <div class="post-date">
                {{ post.date | date: "%B %d, %Y" }}
            </div>
        </div>
        {% assign has_post = true %}
    {% endfor %}
    {% if has_post == false %}
        <div class="no-post">I've lost the ink pot. Check back later...</div>
    {% endif %}
</div>


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: [
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js"
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
      ]
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
