<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
    {% if page.url == "/" and site.footer_only_homepage %}
        <hr>
        <a href="{{ site.footer_url }}">{{ site.footer_text }}</a>
        <a href="https://github.com/Oscuro-Phoenix/math-for-fun"><i class="fa fa-github-square"></i></a>
        <a href="https://www.linkedin.com/company/math-for-fun"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.facebook.com/OscuroPhoenixsb10"><i class="fa fa-facebook-square"></i></a>
    {% else %}
        <br>
    {% endif %}
</div>
