<div class="navbar">
    <div class="navbar-left">
        <a class="site-title" href="{{ site.url }}{{ site.baseurl}}/">
            {{ site.subtitle }}
        </a>
        <div class="site-tagline">registering problems, reasoning insights.</div>
    </div>
    <ul class="pull-right">
        {% for x in site.navbar %}
        <li>
            {% if x.absolute-link %}
                {% assign x-url = x.absolute-link %}
            {% else %}
                {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
            {% endif %}
            <a href="{{ x-url }}">{{ x.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
