---
layout: default
---

<div class="post-header">
    <div class="post-meta">
        {% if page.date %}
        <div class="post-date">
            {{ page.date | date: "%B %d, %Y" }}
        </div>
        {% endif %}
        
        {% if page.tags %}
        <div class="post-tags">
            {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{{content}}
